#page-auth { 
  display: flex;
  align-items: stretch;
  height: 100vh;
  
  &.dark {
    background: #1a1a20;  
    aside {
      background: #3c3c46;
    }  
    .create-room {      
      background: #b43428;
      color: rgba(255, 255, 255, 0.685);       
    }
    .main-content { 
      h2 {
        color: rgba(255, 255, 255, 0.897);
      }      
      form {
        input {          
          background: rgba(92, 82, 82, 0.685);
          border-color: rgba(92, 82, 82, 0.685);                   
          color: rgba(255, 255, 255, 0.897);                  
        }
        ::placeholder{
          color: rgba(255, 255, 255, 0.685);          
        }  
        button {          
          background: #3c2581;
          color: rgba(255, 255, 255, 0.685);
        }        
      }  
      p {        
        color: rgba(255, 255, 255, 0.685); 
        a {
          color: #e352f7e0;
        }  
      }
    }
  }

  aside {
   flex: 7;

   background: #835afd;
   color: #FFF;

   display: flex;
   flex-direction: column;
   justify-content: center;

   padding: 7.5rem 5rem;
  
    img {
      max-width: 20rem;
      
      
    }
    strong {
      font: 700 2.25rem 'Poppins', sans-serif;
      line-height: 2.625rem;
      margin-top: 1rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 1rem;
      color: #f8f8f8;
    }
  }

  header {
    padding: 1.5rem;    
  }

  main {   
    flex:8;    
    margin-left: 2.8125rem;    
    display: flex;
    align-items: center;
    justify-content:center;
  
    .main-content {

      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 20rem;
      align-items: stretch;
      text-align: center;
    
      >img {
        align-self: center;
      }
      h2 {
        font-size: 1.5rem;
        margin: 4rem 0 1.5rem;
        font-family: 'Poppins', sans-serif;
      }
      form {
        input {
          height: 3.125rem;
          border-radius: 0.5rem;
          padding: 0 1rem;
          background: #FFF;
          border: 1px solid #a8a8b3;

        }
        button {
          margin-top: 1rem;
        }
        button,input {
          width: 100%;
        } 

        p {
          font-size: 0.875rem;
          color: #737380;
          margin-top: 1rem;

          a {
            color: #e559f9;
          }
        }
      }     
      
      
      .create-room {
        margin-top: 4rem;
        height: 3.125rem;
        border-radius: 0.5rem;
        font-weight: 500;
        background: #ea4335;
        color: #FFF;
        padding: 0 2rem;
      
        display: flex;
        justify-content: center;
        align-items: center;
      
        cursor: pointer;
        border: 0;
      
        transition: filter 0.2s;
      
        img {
          margin-right: 0.5rem;
        }
        &:hover {
          filter: brightness(0.9);
        }       
      }
      .separator {
        font-size: 0.875rem;
        color: #a8a8b3;

        margin: 2rem 0;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          flex: 1;
          height: 1px;
          background: #a8a8b3;
          margin-right: 1rem;
        }
        &::after {
          content: '';
          flex: 1;
          height: 1px;
          background: #a8a8b3;
          margin-left: 1rem;
        }
      }
    }
  } 
}


@media (max-width: 940px) {
  #page-auth {
    flex-direction: column;
    margin-left: -2.8125rem;

    &.dark main {
      background: #1a1a20;
      border-color: #1a1a20 ;
    }
    &.dark header {
      background: #1a1a20;
      border-color: #1a1a20 ;
      color: #1a1a20;
        
    }
    &.dark aside {
      img {
        filter: brightness(0.5);
      }
    }   

    aside {
      max-height: 25vh;
      
      img {
        position: absolute;          
        max-height: 25vh;
        
      }   
        
      strong {
         font: 700 1.5rem 'Poppins', sans-serif;
         line-height: 2.25rem;
         margin-top: 1rem;
      }
      p {
          
        font-size: 0.7rem;
        line-height: 1rem;
        font-weight: 500;
        margin-top: 0.5rem;
        color: #f8f8f8;       
      }
      
    }
    header {
      padding: 0rem 0rem 3rem 5rem;
      max-height: 3vh;
        
          
    }
    main {
        padding: 2rem 0 0 0;     
      
      

      .main-content {
        h2 {
          margin-top: 2rem;
        }
      }

      .create-room {
        margin-top: 2rem;
      }
    }
  }
}

@media (max-width: 300px) {
  #page-auth {
    margin-left: -2.8125rem;
    aside{
      img {
        filter: brightness(0.5);
      }
      strong {
        font: 700 1.5rem 'Poppins', sans-serif;
        line-height: 2.25rem;
        margin-top: 1rem;
      }
      p {
        
        font-size: 0.7rem;
        line-height: 2rem;
        font-weight: 500;
        margin-top: 2rem;
        color: #f8f8f8;       
      }
    }
    main {
      padding: 1rem 1rem 1rem;

      .main-content {
        p {
          //padding: 0 1rem;
        }
      }
    }
  }
}
